<div class="row">
	<div class="col s5">
		<div class="card">
			<div class="card-image">
				<img src="<%= @serie.poster %>">
				<span class="card-title"></span>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4"><%= @serie.original_title %> (<%= @serie.title %>)</span>
				<a href="#" class="btn-large btn-floating red lighten-3 right" style="margin: 10px;">
					<i class="mdi-action-favorite-outline"></i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="col s7">
		<ul class="collapsible" data-collapsible="expandable">
			<% @seasons.each_with_index do |season, number| %>
				<li>
					<div class="collapsible-header <% 'active' if number == 0 or number == 1 %>">Temporada <%= number %></div>
					<div class="collapsible-body">
						<ul>
							<% season[1].each do |episode| %>
								<li><%= "#{episode.episode} - #{episode.title}" %></li>
							<% end %>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<% content_for :js do %>
$(document).ready(function(){
	$('.collapsible').collapsible({
		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	});
});
<% end %>