<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header indigo z-depth-1" style="text-align: center;">
		<h2 style="margin: 0px; padding: 30px; color: #eceff1;">Nome do site</h2>
		<nav class="indigo">
			<div class="nav-wrapper row">
				<div class="col s3 offset-s5">
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/series">Séries</a></li>
						<%  if user_signed_in? %>
							<li><a href="/me">Perfil</a></li>
						<% else %>
							<li><%= link_to 'Perfil', user_omniauth_authorize_path(:facebook) %></li>
						<% end %>
					</ul>
				</div>
				<div class="col s3">
					<% if user_signed_in? %>
						<span class="valign">
							Bem vindo(a), <%= current_user.name %>!
						</span>
					<img src="<%= current_user.image %>" class="circle responsive-img" style="width: 40px; position: absolute; top: 10px;">
					<% else %>
						<%= link_to user_omniauth_authorize_path(:facebook) do %>
							<span class="amber-text text-accent-3">Entrar com Facebook...</span>
						<% end %>
					<% end %>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="container">
		<%= yield %>
	</div>
	
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>

<!-- 	<script> -->
		<%= yield :js %>
<!-- 	</script> -->
</body>
</html>
